@keyframes button-color-change {
  from { background: black; color: white; border: 1px solid white; }
  to { background: white; color: black; border: 1px solid black; }
}

body {
  background-image: url('./assets/background.png');
  background-size: cover;
  height: 100vh;
  color: white;
}

h1 {
  font-size: 50px;
  margin: 20px 0 20px 0;
}

h2 {
  font-size: 25px;
}

p, h4, h3 {
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: roboto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

#App-widgets-div {
  display: flex;
  justify-content: center;
  margin: 0 20px 200px 20px;
}

#App-welcome {
  border: 1px solid white;
  width: fit-content;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  margin-top: 30px;
  background: #00000061;
  margin: 12px;
  max-width: 500px;
  text-align: center;
}

#Weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 20px;
  border: 1px solid white;
  border-radius: 10px;
  background: #000000b0;
  margin-top: 30px;
}

.Weather-weather-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Weather-location-input-div {
  padding: 20px 0 20px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Weather-location-input-div textarea {
    margin: 5px 0 5px 0;
    width: 260px;
    height: 33px;
    background: black;
    border: 1px solid white;
    color: white;
    padding: 10px;
}

.Weather-location-input-div button {
    width: 244px;
    background: black;
    color: white;
    padding: 5px 0 5px 0;
    cursor: pointer;
}

button:hover {
  animation: button-color-change 1s;
  animation-fill-mode: forwards;
}

.Weather-weather-detail {
  margin-top: 20px;
}

#Weather h3 {
  font-size: 21px;
}

.Weather-current-weather-div {
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}

.Weather-weather-detail h3 {
  margin-bottom: 20px;
}

.Weather-current-weather-div h4{
  margin: 10px;
}

#Weather h4 {
  font-size: 19px;
}

.Weather-location-input-div button {
  margin-top: 10px;
}

.Weather-future-weather-div {
  margin: 20px;
}

.Weather-future-weather-div h4 {
  margin-bottom: 10px;
}

.Weather-future-weather-div button {
  background: black;
  color: white;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}

.Weather-Table-individual-data {
  display: flex;
  justify-content: center;
}

#Weather-Table {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Weather-Table-individual-data p:first-of-type {
  width: 50%;
  padding: 5px 0 5px 0;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
}

.Weather-Table-individual-data p:nth-of-type(2) {
  width: 30%;
  padding: 5px 0 5px 0;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

.Weather-Table-individual-data:first-of-type p:first-of-type {
    border-top: 1px solid white;
}

.Weather-Table-individual-data:first-of-type p:nth-of-type(2) {
  border-top: 1px solid white;
}

.Weather-Table-individual-data p {
  text-align: center;
}

.Weather-table-arrow-div {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
}

.Weather-table-arrow-div {
  cursor: pointer;
}

.Weather-Table-tables-div {
  margin-bottom: 20px;
  width: 100%;
}

@media only screen and (max-width: 585px) {
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 15px;
  }

  #App-widgets-div {
    width: 100%;
  }

  #Weather {
    width: 100%;
    margin: 30px 12px 0 12px;
  }

  #Weather h3 {
    font-size: 16px;
  }

  #Weather h4 {
    font-size: 16px;
  }

  .Weather-location-input-div textarea {
    width: 90%;
  }

  .Weather-location-input-div button {
    width: 100%;
  }

  .Weather-location-input-div {
    width: 100%;
  }
}