body {
  background-image: url('./assets/background.png');
  background-size: cover;
  height: 100vh;
  color: white;
}

h1 {
  font-size: 50px;
  margin: 20px 0 20px 0;
}

h2 {
  font-size: 25px;
}

.App {
  text-align: center;
  font-family: roboto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

#App-widgets-div {
  display: flex;
  justify-content: center;
  margin: 0 20px 0 20px;
}

#App-welcome {
  border: 1px solid white;
  width: fit-content;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  margin-top: 30px;
  background: #00000061;
}

#Weather {
  min-width: 400px;
  padding: 20px;
  border: 1px solid white;
  border-radius: 10px;
  background: #000000b0;
  margin-top: 30px;
}

.Weather-location-input-div {
  margin: 20px 0 20px 0;
}

#Weather h3 {
  font-size: 21px;
}

.Weather-weather-detail h3 {
  margin-bottom: 20px;
}

.Weather-current-weather-div h4{
  margin: 10px;
}

#Weather h4 {
  font-size: 19px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
